nuxeo-adullact-iparapheur-parent/nuxeo-adullact-iparapheur/src/main/resources/data/schema/adullact-circuit.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/adullact/dossier"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:adu="http://www.nuxeo.org/ecm/schemas/adullact/dossier">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="parapheur" type="xs:string"/>
  <xs:element name="prenom" type="xs:string"/>
  <xs:element name="nom" type="xs:string"/>
  <xs:element name="role" type="xs:string"/>

 </xs:schema>
  