nuxeo-adullact-iparapheur-parent/nuxeo-adullact-iparapheur-jaxws/src/main/resources/data/schema/adullact-historique-entry.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/adullact/dossier"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:adu="http://www.nuxeo.org/ecm/schemas/adullact/dossier">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="nom" type="xs:string"/>
  <xs:element name="accessible" type="xs:string"/>
  <xs:element name="status" type="xs:string"/>
  <xs:element name="timeStamp" type="xs:date"/>
  <xs:element name="annotation" type="xs:string"/>

 </xs:schema>
  
